{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="main-title">
                <h1>Billetterie du Musée du Louvre</h1>
            </div>
        </div>
    </div>



    <div>
        <h2>Confirmation des billets</h2>
        <p>Votre commande s'élève à {{ prixTotal }} euros.</p>
        <p>Veuillez cliquer sur le lien suivant pour procéder au paiement.</p>
    </div>

    {% for message in app.flashes("error") %}
        <div class="flash-notice">
            {{ message }}<br />
        </div>
    {% endfor %}

    <div>
        <form action="{{ path('checkout') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{ stripe_key }}
                    data-amount="{{ prixTotal * 100 }}"
                    data-name="Billetterie du Louvre"
                    data-description="Paiement"
                    data-email="{{ email }}"
                    data-locale="auto"
                    data-currency="eur"
                    data-label="Payer par carte">
            </script>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12 cancel">
            <a href="{{ path("cancel") }}"><button class="btn btn-danger">Annuler</button></a>
        </div>
    </div>

{% endblock %}
