{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h2>{{ "Détail de votre commande"|trans }}</h2>
        <p>{{ "Vous trouverez ci-dessous la liste des différents billets composant votre commande."|trans }}</p>
        <div class="row ticket-summary">
            {% for billet in billets %}
                <div class="col-lg-2">
                    <table class="order-summary">
                        <tr class="ticket-title">
                            <th>{{ "Billet"|trans }} {{ loop.index }}</th>
                        </tr>
                        <tr>
                            <td><strong>{{ "Prénom"|trans }}</strong> : {{ billet.prenom }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ "Nom"|trans }}</strong> : {{ billet.nom }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ "Âge"|trans }}</strong> : {{ billet.visitAge }} {{ "ans"|trans }}</td>
                        </tr>
                        <tr>
                            <td><strong>{{ "Tarif"|trans }}</strong> : {{ billet.tarif }} €</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>

    </div>

    {% for message in app.flashes("error") %}
        <div class="flash-notice">
            {{ message }}<br />
        </div>
    {% endfor %}

    <div class="total-price">
        <p>{{ "Le prix total de votre commande s'élève à"|trans }} <strong>{{ commande.prixTotal }} €</strong>.</p>
    </div>

    <div>
        <p>{{ "Veuillez cliquer sur le lien suivant pour procéder au paiement."|trans }}</p>

        <form action="{{ path('checkout') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key={{ stripe_key }}
                    data-amount="{{ commande.prixTotal * 100 }}"
                    data-name="Billetterie du Louvre"
                    data-description="Paiement"
                    data-email="{{ commande.email }}"
                    data-locale="auto"
                    data-currency="eur"
                    data-label="Payer par carte bancaire">
            </script>
        </form>
    </div>

    <div class="row">
        <div class="col-lg-12 cancel">
            <a href="{{ path("cancel") }}"><button class="btn btn-danger">{{ "Annuler la commande"|trans }}</button></a>
        </div>
    </div>

{% endblock %}
