{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ "Contactez-nous !"|trans }}</h2>
            <p>{{ "Une question ? Une remarque ? N'hésitez pas à nous contacter en remplissant le formulaire ci-dessous, nous vous répondrons dans les plus brefs délais."|trans }}</p>
        </div>
    </div>

    {% for message in app.flashes("contact-mail") %}
        <div class="flash-contact">
            {{ message }}<br />
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <form action="{{ path("contact") }}" class="contact-form" method="post">
                {{ "Nom"|trans }} : <br />
                <input type="text" name="nom" class="form-text" required><br />
                {{ "Adresse email"|trans }} : <br />
                <input type="email" name="email" class="form-text" required><br />
                Message : <br />
                <textarea name="content" required></textarea><br /><br />
                <input type="submit" class="btn btn-primary" value={{ "Envoyer"|trans}}>
            </form>
        </div>
    </div>

{% endblock %}
