{% extends 'base.html.twig' %}

{% block body %}

    <h3>Merci de votre commande !</h3>

    <div>
        <p>Bonjour, votre commande numéro {{ commande.numCommande }} dont le montant s'élève à <strong>{{ commande.prixTotal }} euros</strong> et se composant de {{ commande.nbBillets }} billets a été validée.</p>
        <p>Veuillez trouver ci-dessous le détail de vos billets</p>
    </div>

    <div class="ticket-summary">
        <table style="width: 100%; border: 1px solid black; border-collapse: collapse;">
            {% for billet in billets %}
                <tr>
                    <th style="border: 1px solid black; border-collapse: collapse;"><strong>Billet {{ loop.index }}</strong></th>
                    <td style="border: 1px solid black; border-collapse: collapse;"><strong>Prénom</strong> : {{ billet.prenom }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse;"><strong>Nom</strong> : {{ billet.nom }}</td>
                    <td style="border: 1px solid black; border-collapse: collapse;"><strong>Age</strong> : {{ billet.visitAge }} ans</td>
                    <td style="border: 1px solid black; border-collapse: collapse;"><strong>Tarif</strong> : {{ billet.tarif }} €</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        <p>Si un ou plusieurs de vos billets bénéficient du tarif réduit, n'oubliez pas d'apporter les justificatifs nécessaires le jour de votre visite.</p>
    </div>


{% endblock %}