{% extends 'base.html.twig' %}

{% form_theme ticketForm "bootstrap_4_layout.html.twig" %}

{% block body %}

    <h2>{{ "Sélection des billets"|trans }}</h2>

    {% for alert in app.flashes("warning") %}
        <div class="flash-warning">
            {{ alert }}<br />
        </div>
    {% endfor %}

    {{ form_start(ticketForm) }}
        <div class="row">
            {% for billet in ticketForm.billets  %}
                <div class="col-lg-4 select-ticket">
                    {{ form_row(billet) }}
                </div>
            {% endfor %}
        </div>
            <p>*{{ "Un justificatif vous sera demandé à l'entrée du musée."|trans }}</p>

        <div class="d-flex justify-content-between">
            <div><a href="{{ path("cancel") }}"><button class="btn btn-danger">{{ "Annuler"|trans }}</button></a></div>
            <div><button type="submit" class="btn btn-primary">{{ "Valider"|trans }}</button></div>
        </div>
    {{ form_end(ticketForm) }}

{% endblock %}
