{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ "Merci de votre commande !"|trans }}</h2><br />
    <p>{{ "Un email de confirmation vient d'être envoyée à l'adresse suivante :"|trans }} {{ email }}.</p><br />

    <div>
        <a href="{{ path("home") }}"><button class="btn btn-info">{{ "Retour à l'accueil"|trans }}</button></a>
    </div>

{% endblock %}